<form class="well">
  <div class="form-group">
      <input type="text" [(ngModel)]="title"  
      name="title" class="form-control" placeholder="enter a new Task [{{tasks?tasks.length:''}}]"
      style="width:100%"> 
      <input type="button" (click)="addTask($event)" value="Add" class="btn btn-danger">  
      
  </div>  
</form>

<div *ngIf="!arrRecords">Loading Tasks...</div>
<div class="container" style="margin-left: initial;">
    <div class="row" *ngFor="let task of arrRecords | async" [ngClass]="{'red-report':task.isdone}">
        <div class="col-md-1">
            <input type="checkbox" [checked]="task.isdone" (click)="updateTask(task)">   
        </div>
        <div class="col-sm">
            {{task.Title}} 
        </div>
        <div class="col-sm">
            <input type="button" (click)="deleteTask(task)" value="Delete" class="btn btn-danger"> 
        </div>
    </div>
</div>

